@media screen and (min-width: 670px) {
    body {
        background: hsl(225, 100%, 94%) url('../images/pattern-background-desktop.svg') no-repeat;
        background-size: contain;
    }

    main {
        width: 450px;
    }

    main > img {
        width: 450px;
    }

    main > h1 {
        margin: 2rem 0rem 1rem 0rem;
        font-size: 1.5rem;
    }

    main > p {
        margin-top: .5rem;
        margin-inline: 50px;
    }

    div#content {
        width: 350px;
        padding: 1.2rem 0rem;
    }

    #payment {
        width: 350px;
    }

    #cancel {
        margin-bottom: 3rem;
    }
}